@model Arkiva.Models.Subjekt

@{
    ViewBag.Title = Model.Emri;
}

<h2>@ViewBag.Title</h2>

@if (Model.Inspektime.Any() == true)
{
    ViewBag.Numri = Model.Inspektime.Count();

    if (ViewBag.Numri > 1)
    {
        ViewBag.Message = "Kujdes! Subjekti perkates permban " + ViewBag.Numri + " inspektime.";
    }
    else
    {
        ViewBag.Message = "Kujdes! Subjekti perkates permban " + ViewBag.Numri + " inspektim.";
    }

}

<h3 style="color: red">@ViewBag.Message</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color" align="right">
        <input type="submit" value="Fshi" class="btn btn-danger" />
        @Html.ActionLink("Shko te Subjektet", "Index", null, new { @class = "btn btn-warning" })
    </div>
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
    <table class="table">
        @foreach (var item in Model.Inspektime)
        {
            <tr>
                <td>
                    <img src="~/Assets/folder.png" width="30px" height="30px" />
                    @Html.DisplayFor(modelItem => item.Emri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
            </tr>
        }
    </table>
</div>
