@model Arkiva.Models.LlojiDokumentit

@{
    ViewBag.Title = "Përmbajtja";
}

<h4>@ViewBag.Title</h4>
<h4><img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink("Subjektet e Regjistruara" + "/ ", "Index", "Subjekts", null, null) <img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink(Model.Inspektim.Subjekt.Emri + "/ ", "Details", "Subjekts", new { id = Model.Inspektim.Subjekt.Id }, null) <img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink(Model.Inspektim.Emri + " " + Model.Inspektim.NrInspektimit.ToString() + "/ ", "Details", "Inspektims", new { id = Model.Inspektim.Id }, null) <img src="~/Assets/content.png" style="width: 30px; height: 30px" /> @Model.Emri</h4>

<div align="right">
    @Html.ActionLink("Shko Pas", "Index", new { InspektimId = Model.InspektimId }, new { @class = "btn btn-warning", @style = "font-size: 12px" })
</div>
<div>
    <hr />
    <dl class="dropdown-menu-left">
        <dt style="width: auto">
            @Html.DisplayNameFor(model => model.Inspektim.Subjekt.Emri)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Inspektim.Subjekt.Emri)
        </dd>

        <dt style="width: auto">
            @Html.DisplayNameFor(model => model.Inspektim.Emri)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Inspektim.Emri)
        </dd>

        <dt style="width: auto">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            <h5 style="font-weight: 700">Nr. Dokumenteve</h5>
        </dt>
        <dd style="padding-bottom: 20px">
            <h5>@Model.Dokumente.Count()</h5>
        </dd>
        <div align="right">
            @if (Model.Dokumente.Any())
            {
                @Html.ActionLink("Shkarko .zip", "DownLoadZipFile", new { id = Model.Id }, new { @class = "btn btn-info", @style = "font-size: 12px" })
            }
        </div>
    </dl>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().Zyra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().NrKutis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().Rafti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().Indeksimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().Data)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Dokumente)
        {
    <tr>
        <td>
            @{ if (item.FileName.Contains(".pdf") || item.FileName.Contains(".ppt"))
                {
                    <img src="~/Assets/pdfimg.svg.png" style="width: 30px; height: 30px" />
                }
                else if (item.FileName.Contains(".docx") || item.FileName.Contains(".doc"))
                {
                    <img src="~/Assets/wordimg.svg.png" style="width: 30px; height: 30px" />
                }
                else if (item.FileName.Contains(".png") || item.FileName.Contains(".jpeg") || item.FileName.Contains(".jpg"))
                {
                    <img src="~/Assets/imageicon.png" style="width: 30px; height: 30px" />
                }
                else if (item.FileName.Contains(".xlsx"))
                {
                    <img src="~/Assets/excelicon.png" style="width: 30px; height: 30px" />
                }
                else if (item.FileName.Contains(".zip") || item.FileName.Contains(".rar"))
                {
                    <img src="~/Assets/zipfile1.png" style="width: 30px; height: 30px" />
                }
                else
                {
                    <img src="~/Assets/file.png" style="width: 30px; height: 30px" />
                }
            }
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zyra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NrKutis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rafti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indeksimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
    </tr>
        }
    </table>
</div>
