@model Arkiva.Models.LlojiDokumentit

@{
    ViewBag.Title = "Përmbajtja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>
<h4>@Model.Inspektim.Subjekt.Emri/@Model.Inspektim.Emri/@Model.Emri</h4>

<div align="right">
    @Html.ActionLink("Shko Pas", "Index", new { InspektimId = Model.InspektimId }, new { @class = "btn btn-warning", @style = "font-size: 12px" })
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inspektim.Emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspektim.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>