@model IEnumerable<Arkiva.Models.LlojiDokumentit>

@{
    ViewBag.Title = "Lloji Dokumentit";
    var url = Context.Request.Url;
    string[] tmp = url.ToString().Split('=');

    ArkivaDBContext db = new ArkivaDBContext();

    var tmpp = 0;

    if (tmp[1].Contains("&search"))
    {
        string[] nId = tmp[1].Split('&');
        tmpp = nId[0].AsInt();
    }
    else
    {
        tmpp = tmp[1].AsInt();
    }

    if (db.Inspektim.Any(id => id.Id == tmpp))
    {
        var list = db.Inspektim.Find(tmpp);
        ViewBag.Id = list.SubjektId;
        <h4> Inspektim nga @list.Emri për Subjektin @list.Subjekt.Emri</h4>
        <h4> <img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink("Subjektet e Regjistruara" + "/", "Index", "Subjekts", null, null) <img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink(list.Subjekt.Emri + "/", "Index", "Inspektims", new { SubjektId = list.SubjektId }, null) <img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink(list.Emri + " " + list.NrInspektimit + "/", "Index", "LlojiDokumentits", new { InspektimId = list.Id }, null)</h4>


    }
    else if (!db.Inspektim.Any(id => id.Id == tmpp))
    {
        Response.Redirect("PageNotFound");
    }
}

<p>
    <div align="right">
        @if (Model.Count() == 0)
        {
            ViewBag.Total2 = "Nuk ka asnjë lloji dokumenti të krijuar!";
        }
        else
        {
            ViewBag.Total = "Nr total i inspektimeve: " + Model.Count();
        }
        <h4>@ViewBag.Total</h4>
        @Html.ActionLink("Krijo Lloj", "Create", new { InspektimId = tmpp }, new { @class = "btn btn-success", @style = "font-size: 12px" })
        @Html.ActionLink("Shko te Inspektimet", "Index", "Inspektims", new { SubjektId = ViewBag.Id }, new { @class = "btn btn-warning", @style = "font-size: 12px" })
    </div>
    @using (Html.BeginForm("Index", "LlojiDokumentits", FormMethod.Get))
    {
        <div>
            <p>
                <div class="form-inline">
                    @Html.Hidden("InspektimId")
                    <div>
                        <div class="form-inline">
                            @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Kërko Llojin e dokumentit", @id = "myInput", autocomplete = "off", maxlength = "35" }) <br />
                            <div class="form-group form-group-sm">
                                <div class="col-md-8">
                                    @Html.TextBox("start", null, new { @class = "form-control datepicker", @autocomplete = "off", @id = "dateTime", @style = "text-align: right" })
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 20px">
                            <input type="submit" value="Kërko" class="btn btn-info" style="font-size: 12px" />
                            <button onclick="submitForms()" class="btn btn-secondary" style="width: 45px; height: 30px" data-toggle="tooltip" data-placement="top" title="Pastro fushat.">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <div class="text-danger">
            @ViewBag.Message
        </div> <br />
    }
</p>
<table class="table table-secondary">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emri)
            </th>
            <th></th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Assets/folder.png" style="width:40px; height:40px" />
                @Html.ActionLink(item.Emri, "Index", "Dokuments", new { LlojiDokumentitId = item.Id }, new { @style = "color: black; font-weight: 700" })
            </td>
            <td style="padding-top: 12px">
                @Html.ActionLink("Modifiko", "Edit", new { id = item.Id }, new { @class = "btn btn-primary", @style = "font-size: 12px" })
                @Html.ActionLink("Përmbajtja", "Details", new { id = item.Id }, new { @class = "btn btn-info", @style = "font-size: 12px" })
                @Html.ActionLink("Fshi", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", @style = "font-size: 12px" })
            </td>
            <td></td>
            <td style="padding-top: 15px; padding-left: 30px">
                @Html.DisplayFor(modelItem => item.Data)
            </td>
        </tr>
    }

</table>
<h5 class="text-danger">@ViewBag.Total2</h5>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker($.datepicker.regional['sq'] = {
                closeText: 'mbylle',
                prevText: '&#x3c;Mbrapa',
                nextText: 'Përpara&#x3e;',
                currentText: 'sot',
                monthNames: ['Janar', 'Shkurt', 'Mars', 'Prill', 'Maj', 'Qershor',
                    'Korrik', 'Gusht', 'Shtator', 'Tetor', 'Nëntor', 'Dhjetor'],
                monthNamesShort: ['Jan', 'Shk', 'Mar', 'Pri', 'Maj', 'Qer',
                    'Kor', 'Gus', 'Sht', 'Tet', 'Nën', 'Dhj'],
                dayNames: ['E Diel', 'E Hënë', 'E Martë', 'E Mërkurë', 'E Enjte', 'E Premte', 'E Shtune'],
                dayNamesShort: ['Di', 'Hë', 'Ma', 'Më', 'En', 'Pr', 'Sh'],
                dayNamesMin: ['Di', 'Hë', 'Ma', 'Më', 'En', 'Pr', 'Sh'],
                weekHeader: 'Ja',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                changeMonth: true,
                changeYear: true,
                todayHighlight: true,
                autoclose: true,
                dateFormat: 'mm/dd/yy'
            });
        });

        $(function () {
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var valid = true;
                    try {
                        $.datepicker.parseDate('mm/dd/yy', value);
                    }
                    catch (err) {
                        valid = false;
                    }
                    return valid;
                });
            $(".datetype").datepicker({ dateFormat: 'mm/dd/yy' });
        });

        submitForms = function () {
            document.getElementById("myInput").value = '';
            document.getElementById("dateTime").value = '';
        }
    </script>
    <style>
        .ui-datepicker .ui-datepicker-title select {
            color: #000;
        }
    </style>

}
