@model Arkiva.Models.Inspektim

@{
    ViewBag.Title = "Permbajtja e Inspektimit kryer nga " + Model.Emri + " dhe i perket Subjektit " + Model.Subjekt.Emri;
}

<h2>@ViewBag.Title</h2>
<div align="right">
    @Html.ActionLink("Edito", "Edit", new { id = Model.Id }, new { @class="btn btn-primary"})
    @Html.ActionLink("Shko te Inspektimet", "Index", new { SubjektId = Model.SubjektId }, new { @class="btn btn-warning" })
</div>
<div>
    @if (Model.Dokumente.Any())
    {
        @Html.ActionLink("Shkarko .zip File", "DownLoadZipFile", new { id = Model.Id }, new { @class = "btn btn-info" })
    }
    <hr />
    <dl class="dropdown-menu-left">
        <dt style="width: auto">
            @Html.DisplayNameFor(model => model.Subjekt.Emri)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Subjekt.Emri)
        </dd>

        <dt style="width: auto">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dokumente)
        </dt>
    </dl>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumente.FirstOrDefault().Data)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Dokumente)
        {
            <tr>
                <td>
                    @{ if (item.FileName.Contains(".pdf"))
                        {
                            <img src="~/Assets/pdfimg.svg.png" style="width: 30px; height: 30px" />
                        }
                        else if (item.FileName.Contains(".docx") || item.FileName.Contains(".doc"))
                        {
                            <img src="~/Assets/wordimg.svg.png" style="width: 30px; height: 30px" />
                        }
                        else if (item.FileName.Contains(".jpg") || item.FileName.Contains(".jpeg") || (item.FileName.Contains(".png")))
                        {
                            <img src="~/Assets/imageicon.png" style="width: 30px; height: 30px" />
                        }
                    }
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
            </tr>
        }
    </table>
</div>

