@model Arkiva.Models.Inspektim

@{
    ViewBag.Title = "Permbajtja e Inspektimit kryer nga " + Model.Emri + " dhe i perket Subjektit " + Model.Subjekt.Emri;
}

<h4>@ViewBag.Title</h4>
<div align="right">
    @Html.ActionLink("Shko Pas", "Index", new { SubjektId = Model.SubjektId }, new { @class="btn btn-warning" })
</div>
<div>
    <hr />
    <dl class="dropdown-menu-left">
        <dt style="width: auto">
            @Html.DisplayNameFor(model => model.Subjekt.Emri)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Subjekt.Emri)
        </dd>

        <dt style="width: auto">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Emri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd style="padding-bottom: 20px">
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            <h5 style="font-weight: 700">Nr. Dokumenteve</h5>
        </dt>
        <dd style="padding-bottom: 20px">
            <h5>@Model.LlojiDokumentit.Count()</h5>
        </dd>

    </dl>
    <div align="right">
        @if (Model.LlojiDokumentit.Any())
        {
            @Html.ActionLink("Shkarko .zip File", "DownLoadZipFile", new { id = Model.Id }, new { @class = "btn btn-info" })
        }
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LlojiDokumentit.FirstOrDefault().Emri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlojiDokumentit.FirstOrDefault().Data)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.LlojiDokumentit)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Emri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
            </tr>
        }
    </table>
</div>

