@model Arkiva.Models.Inspektim

@{
    ViewBag.Title = "Modifiko Inspektim";
}

<h4>@ViewBag.Title</h4>
<h4><img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink("Subjektet e Regjistruara" + "/ ", "Index", "Subjekts", null, null) <img src="~/Assets/folder.png" style="width: 30px; height: 30px" /> @Html.ActionLink(Model.Subjekt.Emri + "/", "Edit", "Subjekts", new { id = Model.Subjekt.Id }, null) <img src="~/Assets/settings.png" style="width: 30px; height: 30px" /> @Model.Emri @Model.NrInspektimit/</h4>

<div align="right">
    @Html.ActionLink("Anulo Modifikim", "Index", new { SubjektId = Model.SubjektId }, new { @class = "btn btn-warning", @style = "font-size: 12px" })
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <span style="color:#ff0000">*</span> @Html.LabelFor(model => model.Emri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emri, new { htmlAttributes = new { @class = "form-control", maxlength = "35" } })
                @Html.ValidationMessageFor(model => model.Emri, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span style="color:#ff0000">*</span> @Html.LabelFor(model => model.NrInspektimit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NrInspektimit, new { htmlAttributes = new { @class = "form-control", maxlength = "35" } })
                @Html.ValidationMessageFor(model => model.NrInspektimit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="padding-top: 10px">
            <span style="color:#ff0000">*</span> @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "datepicker form-control", autocomplete = "off", @style = "text-align: right" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="padding-top: 10px; display: none">
            @Html.LabelFor(model => model.SubjektId, "SubjektId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubjektId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubjektId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="padding-top: 30px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ruaj" class="btn btn-success" style="font-size: 12px" />
            </div>
        </div>
    </div>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker($.datepicker.regional['sq'] = {
                closeText: 'mbylle',
                prevText: '&#x3c;Mbrapa',
                nextText: 'Përpara&#x3e;',
                currentText: 'sot',
                monthNames: ['Janar', 'Shkurt', 'Mars', 'Prill', 'Maj', 'Qershor',
                    'Korrik', 'Gusht', 'Shtator', 'Tetor', 'Nëntor', 'Dhjetor'],
                monthNamesShort: ['Jan', 'Shk', 'Mar', 'Pri', 'Maj', 'Qer',
                    'Kor', 'Gus', 'Sht', 'Tet', 'Nën', 'Dhj'],
                dayNames: ['E Diel', 'E Hënë', 'E Martë', 'E Mërkurë', 'E Enjte', 'E Premte', 'E Shtune'],
                dayNamesShort: ['Di', 'Hë', 'Ma', 'Më', 'En', 'Pr', 'Sh'],
                dayNamesMin: ['Di', 'Hë', 'Ma', 'Më', 'En', 'Pr', 'Sh'],
                weekHeader: 'Ja',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-mm-yy"
            });
        });

        $(function () {
            $.validator.addMethod('date',
                function (value, element) {
                    if (this.optional(element)) {
                        return true;
                    }
                    var valid = true;
                    try {
                        $.datepicker.parseDate('dd-mm-yy', value);
                    }
                    catch (err) {
                        valid = false;
                    }
                    return valid;
                });
            $(".datetype").datepicker({ dateFormat: 'dd-mm-yy' });
        });
    </script>
    <style>
        .ui-datepicker .ui-datepicker-title select {
            color: #000;
        }
    </style>
}