@model IEnumerable<Arkiva.Models.Inspektim>
@{
    ViewBag.Title = "Inspektime";
    var url = Context.Request.Url;
    string[] tmp = url.ToString().Split('=');

    ArkivaDBContext db = new ArkivaDBContext();

    var m = db.Subjekt.Find(tmp[1].AsInt());
}

<h2> List e inspektimeve per Subjektin @m.Emri </h2>


<p>
    <div align="right">
        @if (Model.Count() == 0)
        {
            ViewBag.Total = "Nuk ka asnje inspektim te kryer.";
        }
        else
        {
            ViewBag.Total = "Nr total i inspektimeve: " + Model.Count();
        }
        <h4>@ViewBag.Total</h4>
        @Html.ActionLink("Krijo Inspektim", "Create", new {SubjektId = tmp[1] }, new { @class = "btn btn-success" })
        @Html.ActionLink("Shko te Subjektet", "Index", "Subjekts", null, new { @class = "btn btn-warning" })
    </div>
    @using (Html.BeginForm("Index", "Inspektims", FormMethod.Get))
    {
        <div>
            <p>
                @Html.Hidden("SubjektId")
                @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Kerko Inspektimin" }) <br />
                <input type="submit" value="Kerko" class="btn btn-info" />
                <div class="text-danger">
                    @ViewBag.Message
                </div> <br />

            </p>
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Assets/folder.png" style="width:30px; height:30px" />
                @Html.ActionLink(item.Emri, "Index", "Dokuments", new { InspektimId = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td align="right">
                @Html.ActionLink("Edito", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Permbajtja", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Fshi", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
